<!DOCTYPE html>
<html lang="en-US"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{#if title}}{{title}}{{else}}Default Title{{/if}}</title>
        <link rel="stylesheet" href="./css/main.css">
        {{#> head}}
        {{/head}}
    </head>
    <body>
        {{#> content}}
            <p>Content for the site goes in here.</p>
        {{/content}}
        <script src="./js/app.js"></script> 
    </body>
</html>
        