{{#> layouts/base title="Homepage"}}
	{{#*inline "content"}}
 		<section class="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Hello World!</h1>
                        <p>
                            Welcome to my Gulp starter kit.  
                            It incorporates the use of <a href="http://handlebarsjs.com/" title="Handlebars">Handlebars</a> templates, <a href="https://browsersync.io/" title="Browsersync">Browsersync</a>, responsive web typography with <a href="https://zellwk.com/blog/why-vertical-rhythms/" title="Why vertical rhythm?">vertical rhythm</a>, and a responsive Flexbox grid layout.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2>1/2 width column</h2>
                        <p>Odio sunt soluta temporibus, provident aperiam hic atque in natus, libero officia iste veritatis nostrum distinctio? Officia eaque, enim itaque quaerat iste.</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2>1/2 width column</h2>
                        <p>Commodi maiores, vero minus incidunt officia error enim necessitatibus dolorem odio voluptates minima, earum perferendis! Ad magni dolor.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <h2 class="heading-four">1/4 width column</h2>
                        <p>Odio sunt soluta temporibus, provident aperiam hic atque in natus, libero officia iste veritatis nostrum distinctio? Officia eaque, enim itaque quaerat iste.</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h2 class="heading-four">1/4 width column</h2>
                        <p>Sed in porta erat, quis egestas tortor. Morbi scelerisque pellentesque mauris, sed varius urna porttitor efficitur. Etiam scelerisque, ligula in euismod pulvinar, nisi massa mattis tortor, non pellentesque sem ex sed arcu.</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h2 class="heading-four">1/4 width column</h2>
                        <p>Phasellus dictum scelerisque ante. Pellentesque gravida posuere condimentum. Proin quis hendrerit lorem.</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h2 class="heading-four">1/4 width column</h2>
                        <p>Quisque ut leo ullamcorper augue consectetur posuere eu et felis. Curabitur aliquet auctor eros, vitae porttitor felis gravida nec. Cras dolor dolor, blandit in ipsum in.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h2 class="heading-three">1/3 width column</h2>
                        <p>Duis at eros eget odio sagittis eleifend at non nunc. Nullam eget ante faucibus, suscipit mi sed, varius dolor. Suspendisse euismod venenatis leo. Mauris tempus viverra sapien, vel dapibus.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h2 class="heading-three">1/3 width column</h2>
                        <p>Integer hendrerit tortor vel lorem ultricies, ut sagittis augue ultricies. Maecenas eget leo ac lacus pulvinar rhoncus ut id odio. Duis nec leo nunc. Nullam sodales lorem justo.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h2 class="heading-three">1/3 width column</h2>
                        <p>Fusce quis ante sed leo gravida ultrices in non lorem. Curabitur interdum efficitur porttitor. Aliquam sit amet orci urna. Pellentesque laoreet urna neque, ut viverra mi tempor non.</p>
                    </div>
                </div>
            </div>
        </section>
 	{{/inline}}
{{/layouts/base}}