@charset 'utf-8';

@import
	'abstracts/index',
	'vendor/index',
	'base/index',
	'layout/index',
	'components/index',
	'pages/index';

.container {
	width: 768px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}