/*******************************************************************************
 * CUSTOM RESETS && IMPORTS
 ******************************************************************************/

@import "../lib/bourbon/app/assets/stylesheets/bourbon";

@import "normalize";
@import "reset";
@import "mixins";
@import "grid";
@import "breakpoints";
@import "modules/modules";

/*******************************************************************************
 * AUTHOR'S BASE
 ******************************************************************************/

html,
body {
    background-color: #fff;
    color: #444;
    font: 112.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include breakpoint(md) {font-size: 105%;}
    @include breakpoint(sm) {font-size: 100%;}
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

/*******************************************************************************
 * AUTHOR'S STYLES
 ******************************************************************************/

p {
	font-size: rem(18);
}